/* *{margin: 0; padding: 0; box-sizing: border-box;} */

.landing-screen{
    background:linear-gradient(57deg, #00c6a7, #1e4d92);
    height:100%;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
    color:white
    
}
